apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: 'https://github.com/8gears/n8n-helm-chart.git'
      targetRevision: master
      path: .
      helm:
        valueFiles:
          - $myrepo/internal-psi-monitoring/applications/n8n/values-n8n.yaml
    - repoURL: 'https://github.com/oyegokeodev/oye-gitops.git'
      targetRevision: HEAD
      ref: myrepo
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: n8n
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
