replicas: 2

deploymentStrategy:
  type: RollingUpdate

securityContext:
  runAsUser: 472
  runAsGroup: 472
  fsGroup: 472

containerSecurityContext:
  runAsUser: 472
  runAsGroup: 472

initChownData:
  enabled: true

envFromSecrets:
  - name: grafana-db


database:
  type: postgres
  host: pg-1e155c21-oyegokeodev-f11d.f.aivencloud.com:20109
  name: grafana
  user: grafana_user
  existingSecret: grafana-db
  existingSecretPasswordKey: password
  ssl_mode: require

# session:
#   provider: database

# server:
#   enable_gzip: true

service:
  type: ClusterIP
  port: 80


persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce

readinessProbe:
  httpGet:
    path: /api/health
    port: 3000
  initialDelaySeconds: 30

livenessProbe:
  httpGet:
    path: /api/health
    port: 3000
  initialDelaySeconds: 60
